/*_________General__________*/

#bg {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 960px;
	min-height: 100%;
}

.body-text {
	text-shadow: 1px 1px 3px #000;
}

p {
	text-shadow: 2px 2px 8px #191511;
}
a {
	text-decoration: none;
}


img {
	max-width: 100%;
}



/*_________Logo__________*/

h1 {
	font-size: 2em;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	color: #585557;
	margin: 0;
	text-shadow: 1px 1px 3px #191511;
}

h2 {
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	color: #585557;
	padding-bottom: 0.2em;
	margin: 0;
	text-shadow: 1px 1px 3px #191511;
}

h3{
	font-size: 2em;
}

h4 {
	text-align: center;
	font-size: 2em;
}

#hiddenLogo{
	background: none;
}

#headerLogo{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}

.header {
	margin-bottom: 1em;
	border-bottom: 3px solid #585557;
}

.header img {
	display: block;
	max-width: 150px;
	margin: 0 auto;
}

/*_________Slider__________*/

.cycle-slideshow{
    box-shadow: 0px 2px 50px 2px #000;
}


/*_________Gallery__________*/



#wrapper-gal {
	margin: 50px 0 0;
}

.imageGallery{
	text-align: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.imageGallery img{
	width: 100%;
	height: 62%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	border-radius: 5px 5px 0 0 ;
	cursor: pointer;
}

.imageGallery li{
	background-color: #fff;
	float: left;
	height: 190px;
	width: 45%;
	margin: 2.5%;
	border-radius: 5px;
    box-shadow: 0px 2px 50px 2px #000;
}

.imageGallery li p{
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #585557;
	text-shadow: 1px 1px 10px #999;
}




/*_________Container__________*/

.containerDiv {
	border: 2px solid #fff;
	margin: 0 5% 10px;
	height: 100%;
	background-color: rgba(88, 85, 87, 0.7);
	max-width: 1024px;
	border-radius: 10px;
}



.body-text {
	color: #585557;
	font-weight: 600;
	margin: 0 auto;	
	max-width: 640px;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	text-shadow:none;
    box-shadow: 0px 2px 50px 2px #000;
}




/*_________Nav__________*/







.hideSubNav {
	display: none;
}



























#stickyHeader{
	display: none;
}

nav {
	z-index: 999;
	font-size: 1.2em;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
}

nav ul li a {
	z-index: 999999999;
	display: block;
	color: #585557;
	font-weight: 800;
	padding: 10px 10px;
	width: 80px;
	text-shadow: 1px 1px 3px #191511;
}




.subNav {
	z-index: 999999999;
	position: relative;
	float: right;
	display: inline-block;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	width: 100%;
}



.subNav li{
	width: 100%;
}

.subNav li a {	
	color: #fff;
	background: #585557;
	width: 100%;
	margin: 0;
	padding: 5px 0;
}












/*_________Nav is Sticky__________*/
.clearfix{
	background-color: rgba(255, 255, 255, 0.7);
	transition: 0.75s;
}

.is-sticky .clearfix {
	background-color: #585557;
	border-bottom: 3px solid #fff;
}

.is-sticky .clearfix ul li a {
	color: #fff;
	background-color: #585557;
}


/*_________Nav on hover & selected__________*/

nav ul li a.selected,
nav ul li a:hover,
.wrapper a:hover {
	transition: 1s;
	background-color: #585557;
	color: #fff;
}



.is-sticky .clearfix ul li a.selected,
.is-sticky .clearfix ul li a:hover,
.wrapper a:hover {
	background-color: rgb(255, 255, 255);
	color: #585557;
}



/************************************
Page: Contact
************************************/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
	background-color: #fff;
	font-weight: 800;
	color: #585557;
	text-shadow: 2px 2px 8px #191511;
    box-shadow: 0px 2px 50px 2px #000;
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
	background-color: #fff;
	color: #585557;
	text-shadow: 2px 2px 8px #191511;
    box-shadow: 0px 2px 50px 2px #000;
}

#container {
	color: #fff;
	margin: 0 auto;
	padding: 1em;
}

#FBlink {
	text-align: center;
	padding: 1em;
	background-color: #fff;
	border-radius: 5px;
	text-shadow: 2px 2px 8px #191511;
    box-shadow: 0px 2px 50px 2px #000;
}

#FBlink a {
	color: #585557;
}






/*_________Footer__________*/

footer {
	text-align: center;
	clear: both;
	padding-top: 25px;
}

footer p {
	border: 2px solid #fff;
	background-color: rgb(88, 85, 87);
	color: #fff;
	max-width: 180px;
	margin: 25px auto 0;
	padding: 10px;
	border-radius: 10px;
}

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	line-height: 40px;
	border-radius: 5px;
	display: block;
	min-height: 40px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	padding: 0 0 0 40px;
	margin: 0 0 20px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.profileDiv {
	margin: 0 auto;
	padding: 0.5em;
}

.profile-photo {
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
	border-radius: 10px;
    box-shadow: 0px 2px 50px 2px #000;

}

/*_____________FONTS_____________*/

pre, p{
	font-family: 'Architects Daughter', sans-serif !important;
}

h1, h3{
	font-family: 'Permanent Marker', sans-serif !important;
}

.caption h3 {
	font-family: 'Architects Daughter', sans-serif !important;
}



















